body{
    margin: 0;
    padding: 0;
}

.appName {
    float: left;
}

.nav-right{
    display: inline-block;
}

.avatar{
    margin: 1em;
    border-radius: 50%;
    width: 48px;
}

.navbar{
    width: 100%;
    overflow: auto;
    color:#333;
    border-bottom: 1px solid white;
}